In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('iris.csv')
df.drop(['Id'], axis=1, inplace=True)
df.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

ANALYSIS ON SPECIE IRIS SETOSA

In [4]:
df_labels = pd.get_dummies(df['Species'])
iris_set=df.loc[(df.Species == "Iris-setosa")]
iris_ver=df.loc[(df.Species == "Iris-versicolor")]
iris_vir=df.loc[(df.Species == "Iris-virginica")]
iris_set.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count       50.00000     50.000000      50.000000      50.00000
mean         5.00600      3.418000       1.464000       0.24400
std          0.35249      0.381024       0.173511       0.10721
min          4.30000      2.300000       1.000000       0.10000
25%          4.80000      3.125000       1.400000       0.20000
50%          5.00000      3.400000       1.500000       0.20000
75%          5.20000      3.675000       1.575000       0.30000
max          5.80000      4.400000       1.900000       0.60000

In [7]:
iris_set.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [26]:
iris_set.shape

In [19]:
sns.kdeplot(data=iris_set.iloc[0:,:3],fill=True,palette=("red","yellow","purple"))

In [27]:
sns.set_style('whitegrid')
plt.figure(figsize=(7,8))
sns.boxplot(data=iris_set)

In [22]:
sns.jointplot(x=iris_set['PetalLengthCm'],y=iris_set['PetalWidthCm'],kind='kde',color='red', fill='dark')

In [23]:
sns.jointplot(x=iris_set['SepalLengthCm'],y=iris_set['SepalWidthCm'],kind='kde',color='red',fill='dark')

ANALYSIS ON SPECIE IRIS VERSICLOR

In [29]:
iris_ver.head()

In [30]:
iris_ver.shape

In [39]:
sns.kdeplot(data=iris_ver.iloc[0:,:3],fill=True,palette=['red','yellow','purple'])

In [40]:
iris_ver.describe()

In [41]:
sns.jointplot(x=iris_ver['PetalLengthCm'],y=iris_ver['PetalWidthCm'],kind='kde',color='cyan',fill='dark')